.m-bd-center {
  margin-top: 25px; }

.m-bd-center .u-left-content {
  width: 58%;
  background: #fff;
  float: left;
  padding: 30px;
  box-sizing: border-box; }
  .m-bd-center .u-left-content h1 {
    margin-bottom: 40px; }
  .m-bd-center .u-left-content .m-css-content {
    width: 100%;
    height: auto;
    padding-top: 60px; }
    .m-bd-center .u-left-content .m-css-content h3 {
      border-bottom: 1px solid #EEEEEE;
      padding: 0 0 20px 0;
      font-size: 20px;
      margin-bottom: 15px;
      color: #22A0C7; }
    .m-bd-center .u-left-content .m-css-content .u-css-code {
      width: 100%;
      background: #23241F;
      font-size: 14px;
      color: #9a9a9a;
      padding: 15px 0;
      padding-left: 15px;
      margin-bottom: 15px;
      border-radius: 5px; }
    .m-bd-center .u-left-content .m-css-content h5, .m-bd-center .u-left-content .m-css-content p {
      color: #000;
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 26px; }
    .m-bd-center .u-left-content .m-css-content i {
      color: #FF0000; }
    .m-bd-center .u-left-content .m-css-content em {
      color: #66d9ef; }

.m-bd-center .u-right-nav {
  width: 40%;
  height: 700px;
  position: fixed;
  right: 2%;
  top: 75px;
  bottom: 10px; }
  .m-bd-center .u-right-nav h1 {
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    background: #404a58;
    color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .m-bd-center .u-right-nav .u-item-list {
    width: 100%;
    background: #F9F9F9;
    line-height: 60px;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    overflow-y: auto; }
    .m-bd-center .u-right-nav .u-item-list li.active {
      color: #fff;
      background: #4E5E6D;
      border-left: 2px solid #009A61; }
    .m-bd-center .u-right-nav .u-item-list li:not(:last-child) {
      border-bottom: 1px solid #000; }
    .m-bd-center .u-right-nav .u-item-list li:hover {
      color: #fff;
      background: #4E5E6D;
      border-left: 2px solid #009A61; }
    .m-bd-center .u-right-nav .u-item-list li {
      color: #22A0C7;
      padding-left: 15px;
      box-sizing: border-box;
      cursor: pointer; }
